$title-font-color: #dfcf77;
$item-font-color: #eee5b5;

.text {
    display: flex;
    align-items: flex-start;
    width: 635px;
    font-size: 19px;
    line-height: 27px;
    color: #252525;
}

.text-column {
    width: 155px;
    margin-right: 35px;

    &:last-child {
        margin-right: 0;
    }
}

.details-item {
    font-size: 19px;
    line-height: 30px;
}

.details-name {
    display: block;
    color: rgba($title-font-color, 0.7);
    font-weight: bold;
}

.details-value {
    color: rgba($item-font-color, 0.8);
}
