$title-font-color: #dfcf77;
$item-font-color: #eee5b5;

.rating {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px;
}

.score {
    margin-right: 9px;
    padding: 8px 12px;
    font-size: 30px;
    line-height: 36px;
    color: rgba($item-font-color, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.meta {
    display: flex;
    margin: 0;
    font-size: 19px;
    color: rgba($item-font-color, 0.7);
}

.level {
    font-weight: bold;

    &::after {
        content: '·';
        margin-left: 4px;
        margin-right: 4px;
        font-weight: 400;
    }
}

.scores-count {
    color: rgba($item-font-color, 0.5);
}

.details {
    width: 635px;
    font-size: 19px;
    line-height: 27px;
    color: rgba($item-font-color, 0.8);
}

.details-item {             //  Add some free space under a film's description
    &:first-of-type {
        margin-bottom: 50px;
    }
}

.director {
    line-height: 21px;
    color: rgba($item-font-color, 0.8);
}

.starring {
    line-height: 24px;
    color: rgba($item-font-color, 0.8);
}

.details-title {
    color: rgba($title-font-color, 0.7);
}
