.header {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 75px;
}

.header-movie-page {
    margin-bottom: 40px;
}

.header-user-page {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.title {
    position: absolute;
    top: 50%;
    left: 200px;
    right: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: #dfcf77;
    transform: translateY(-50%);
}
