@import '../../../shared/ui/mixins';

$input-color: #382c2a;
$input-color-active: #dfcf77;
$gradient-stop-color: #170202;

.visually-hidden {
    @include visually-hidden;
}

.page {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding-bottom: 45px;
    color: #eee5b5;
    background-color: $gradient-stop-color;
    background-image: linear-gradient(180deg, #000000 0%, $gradient-stop-color);
}

.header {
    position: relative;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
        object-position: center top;
    }
}

.poster {
    flex-shrink: 0;
    width: 132px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(40px);

    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
    }
}

.add-review {
    width: 520px;
    margin: 0 auto;
    padding-top: 62px;
}

.rating-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.rating-input {
    display: none;
}

.rating-label {
    display: block;
    padding-right: 10px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;

    &:last-child {
        padding-right: 0;
    }

    &::after {
        content: '★';
        display: block;
        font-size: 32px;
        line-height: 36px;
        color: rgba($input-color, 0.6);
        transition: color 0.2s;
    }
}

.rating-label-active {
    &::after {
        color: rgba($input-color-active, 0.7);
    }
}

.rating-label-checked-next {
    &::after {
        color: rgba($input-color, 0.8);
    }
}

.review-text {
    background-color: #eeeeee;
    background-image: linear-gradient(180deg, #eeeeee, #cccccc);
    border-radius: 8px;
}

.review-textarea {
    display: block;
    width: 100%;
    height: 150px;
    min-height: 150px;
    padding: 25px;
    font-size: 17px;
    line-height: 24px;
    color: #252525;
    background: none;
    border: none;
    resize: vertical;

    &::placeholder {
        color: #252525;
        opacity: 1;
    }
}

.review-submit {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.submit-button {
    display: block;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    font-weight: bold;
    letter-spacing: 0;
    color: #866866;
    background: none;
    border: none;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover,
    &:disabled {
        opacity: 0.5;
    }

    &:disabled {
        cursor: default;
    }
}
